.footer {
    margin-top: 50px;
    background-color: #A8DADC;
    width: 100%;
    height: 250px;
    padding: 30px 0;
    float: left;
}
.tbf {
    width: 100%;
    padding: 0 5%;
}
.footer .footer_logo {
    width: 180px;
}
.footer label.logo {
    font-size: 50px;
    padding: 0 50px;
}

.footer .footer_001 {
    width: 33.33%;
    float: left;
}
