
.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.star-cb-group * {
    font-size: 1rem;
    /* flip the order so we can use the + and ~ combinators */
}

.star-cb-group > input {
    display: none;
}

.star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: default;
}

.star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "\2606";
    color: #888;
}

.star-cb-group > input:checked ~ label:before {
    content: "\2605";
    color: #e52;
    text-shadow: 0 0 1px #333;
    /* the hidden clearer */
}

.star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: 0.5em;
    margin-left: -0.5em;
}

.star-cb-group > .star-cb-clear + label:before {
    width: 0.5em;
}


:root {
    font-size: 2em;
    font-family: Helvetica, arial, sans-serif;
}

fieldset {
    border: 0;
    background: #fff;
}

#log {
    margin: 1em auto;
    width: 5em;
    text-align: center;
    background: transparent;
}

.img_rating {
    width: 220px;
    height: 220px;
    object-fit: cover;
    object-position: 50% 20%;
}

.disable_button{
    cursor: default;
}