@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1d3557;
}
h1 {
    font-weight: 700;
    font-size: 60px;
}
h2 {
    font-weight: bold;
    font-size: 45px;
}
h3 {
    font-weight: bold;
    font-size: 30px;
}
h4 {
    font-weight: bold;
    font-size: 26px;
}
h5 {
    font-weight: bold;
    font-size: 22px;
}
h6 {
    font-weight: 600;
    font-size: 16px;
}

a:hover {
    transition: 0.25s;
    color: #e63946;
    text-decoration: underline;
    transition: 0.25s;
}

button {
    font-size: 14px;
    padding: 7px 23px;
    border-radius: 5px;
    border: none;
    color: #2e4c6d;
    background-color: #77c0fc;
    display: block;
    margin: auto;
    font-weight: 600;
    cursor: pointer;
}
button:hover {
    background-color: #a8dadc;
    transition: 0.15s;
}

select {
    border: none;
    border-bottom: #1d3557 1px solid;
}
select:focus-visible {
    outline: none;
}
